@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #fafafb;
  --black: #222;
  --white: #ffffff;
  --secondary: #555555;
}

@theme inline {
  --color-background: var(--background);
  --color-black: var(--black);
  --color-secondary: var(--secondary);
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);
  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}
@layer base {
  b {
    @apply font-semibold;
  }
  h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
    font-family: var(--font-p), sans-serif;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
    font-family: var(--font-p), sans-serif;
  }
  h3 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
    font-family: var(--font-p), sans-serif;
  }
  h4 {
    @apply text-base font-semibold md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
    font-family: var(--font-p), sans-serif;
  }
  h5 {
    @apply text-sm font-semibold md:text-base lg:text-xl xl:text-2xl 2xl:text-3xl;
    font-family: var(--font-p), sans-serif;
  }
  h6 {
    @apply text-xs md:text-sm lg:text-base xl:text-xl;
    font-family: var(--font-p), sans-serif;
  }
  p {
    @apply text-xs md:text-sm lg:text-lg lg:leading-6 xl:text-xl 2xl:text-2xl;
    font-family: var(--font-inter), sans-serif;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

body {
  background-color: var(--background);
  font-family: var(--font-inter), sans-serif;
}
